.page {
  font-family: var(--font-family);
  font-weight: 300;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.page__body {
  min-height: 100vw;
  min-width: 375px;
}

.container {
  max-width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  width: 100%;
}

.main {
  position: relative;
}

