@media (width > 1300px) {
  .product {
    margin-bottom: 150px;
  }
}

@media (width <= 1300px) {
  .product {
    margin-bottom: 70px;
  }
}

@media (width <= 768px) {
  .product {
    margin-bottom: 46px;
  }
}

.product__title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 900;

  color: #111;
  text-align: left;
  margin-bottom: 50px;
}

@media (width > 650px) {
  .product__title {
    font-size: 42px;
  }
}

@media (width < 650px) {
  .product__title {
    font-size: 28px;
  }
}

.product__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
@media (width < 768px) {
  .product__grid {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.product__card {
  -webkit-box-shadow:
    0 4px 41px 0 rgba(0, 0, 0, 0.05),
    0 4px 41px 0 rgba(0, 0, 0, 0.05);
  box-shadow:
    0 4px 41px 0 rgba(0, 0, 0, 0.05),
    0 4px 41px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  -webkit-transition:
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  transition:
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  -o-transition:
    transform var(--transition-time),
    box-shadow var(--transition-time);
  transition:
    transform var(--transition-time),
    box-shadow var(--transition-time);
  transition:
    transform var(--transition-time),
    box-shadow var(--transition-time),
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .product__card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 19px;
}

.product__card-title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(13px, 1.67px + 1.48vw, 30px);
  color: #111;
  margin-bottom: 11px;
  padding-top: 15px;
}

@media (width > 1300px) {
  .product__card-title,
  .product__card-footer {
    margin-left: 40px;
  }
}

@media (width < 1300px) {
  .product__card-title,
  .product__card-footer {
    margin-left: 12px;
  }
}

.product__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 20px;
}

.product__card-link {
  font-family: var(--font-family);
  font-weight: 400;
  color: #111;
  text-decoration: none;
}

@media (width > 1300px) {
  .product__card-link {
    font-size: 24px;
  }
}

@media (width <= 1300px) {
  .product__card-link {
    font-size: 12px;
  }
}

.product__card-arrow {
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  -o-transition: transform var(--transition-time);
  transition: transform var(--transition-time);
  transition:
    transform var(--transition-time),
    -webkit-transform var(--transition-time);
  width: 34px;
  height: 34px;
}

@media (width < 1300px) {
  .product__card-arrow {
    width: 24px;
    height: 24px;
  }
}

@media (width < 768px) {
  .product__card-arrow {
    width: 15px;
    height: 15px;
  }

  .product__card-footer {
    gap: 10px;
    padding-bottom: 20px;
  }
}

@media (any-hover: hover) {
  .product__card-arrow:hover {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.product__card:hover .product__focus-black {
  background-color: #000000;
}

.product__card:hover .product__focus-black .product__card-title,
.product__card:hover .product__focus-black .product__card-link,
.product__card:hover .product__focus-black .product__card-arrow {
  color: white;
  fill: white;
}
